<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>


    <%= @question %>
    <p>
    <%= question[:question] %>
    </p>
    <p><em>You</em></p>

    <%= @answer %>
    <p>
    <%= answer[:answer] %>
    </p>
    <p><em>Your Coach</em></p>
  </body>
</html>
